#app{
  font: 20px Arial, sans-serif;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

input{
  margin: 10px 0 10px 0;
  background-color: white;
  border: none;
  height: 35px;
  padding: 5px 20px;
  border-bottom: 6px solid #cacaff;
  width: 100%;
}

input:active{
  border-bottom: 6px solid #906da9;
}

input:focus{
  border-bottom: 6px solid #906da9;
}


.x-mark{
  font-size: 20px;
  float: right;
  background: none;
  border: none;
  font-family: sans-serif;
  color: darkred;
  border-radius: 15px;
  padding: 1px 15px 1px 1px;
  cursor: pointer;
}


.x-mark:hover{
  color: red;
}

.done-mark{
  font-size: 20px;
  background: none;
  border: none;
  font-family: sans-serif;
  color: grey;
  padding: 1px 15px 1px 1px;
  border-radius: 15px;
  cursor: pointer;
}

.done-mark-undone:hover{
  color: green;
}

.done-mark-done{
  color: green;
}

.done-mark-undone{
  color: grey;
}

.edit-mark{
  font-size: 20px;
  float: right;
  background: none;
  border: none;
  font-family: sans-serif;
  color: darkcyan;
  border-radius: 15px;
  padding: 1px 15px 1px 1px;
  cursor: pointer;
}

.edit-mark:hover{
  color: darkblue;
}

.todo-place-holder{
  width:100%;
  margin-top: 20px;
}

.todo-undone{
  color: black;
  text-decoration: none;
}

.todo-item{
  font-size: 19px;
  margin-bottom: 15px;
  border-bottom: 7px solid #cacaff;
  padding: 8px 4px 8px 20px;
  background: white;
}


.todo-done{
  border-bottom: 7px solid #98bf98;
  text-decoration: line-through;
}

.todo-input{
  border: none;
}

.todo-edit{
  border-bottom: 7px solid rgb(216, 211, 121);
}

.clean-input{
  height: 25px;
  margin: 0 0 0 30px;
  border: 0;
}

.clean-input:active{
  margin: 0 0 0 30px;
  border: 0;
}

.clean-input:focus{
  margin: 0 0 0 30px;
  border: 0;
}

.header-link.active{
  color: ghostwhite;
  text-decoration: none;
}

.header-link{
  text-decoration: none;
  padding-right: 20px;
  padding-left: 10px;
  color: lightgray;
  float: left;
}

.header-link-right{
  float: right;
}

.header-link:hover{
  text-decoration: none;
  color: ghostwhite;
}
.header-link:focus{
  text-decoration: none;
  color: ghostwhite;
}

.header{
  height: 27px;
  padding: 15px 50px 15px 50px;
  background: linear-gradient(to left, #565f98, #00359a);
  margin-bottom: 15px;
}

.field{
  border-radius: 0 0 10px 10px;
  background: #eef0ff;
  padding: 50px 100px 50px 100px;
}

.bttn{
  margin: 5px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #00359a;
  border-radius: 4px;
  background: #565f98;
}

.bttn:hover{
  color: black;
  text-decoration: none;
  background: #001742;
}
.bttn:focus{
  color: black;
  text-decoration: none;
  background: #001742;
}

.bttn-primary{
  background: #565f98;
  color: white;
}

.bttn-primary:hover{
  background: #001742;
    color: white;
}
.bttn-primary:focus{
  background: #001742;
    color: white;
}


.header-subtext{
  font-size: 20px;
  color: #817e98;
}

.header-info{
  margin: 0 7px;
  font-size: 28px;
  color: #284999;
}

.header-text{
  font-size: 35px;
  color: #284999;
}

.hide{
  display:none;
}
