#app{
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

.header-link.active{
  color: ghostwhite;
  text-decoration: none;
}

.header-link{
  text-decoration: none;
  padding-right: 20px;
  padding-left: 10px;
  color: lightgray;
  float: left;
}

.header-link-right{
  float: right;
}

.header-link:hover{
  text-decoration: none;
    color: ghostwhite;
}

.header{
  border-radius: 55px 55px 0 0;
  height: 55px;
  width: 100%;
  padding: 15px 60px 15px 60px;
  background: darkcyan;
}

.field{
  border-radius: 0 0 55px 55px;
  background: #f2f2f2;
  padding: 30px 60px 60px 60px;
  border: 1px solid #4d4d4d;
}
